{template "content","header"}
<style type="text/css" >
.photo_prev a{cursor:url({IMG_PATH}v9/prev.cur), auto;}
.photo_next a{cursor:url({IMG_PATH}v9/next.cur), auto;}
</style>
<script type="text/javascript" src="{JS_PATH}blowup.min.js"></script>
<script type="text/javascript" src="{JS_PATH}prism.js"></script>


<div class="main photo-channel" style="text-aligen:center;width:960px;margin:0 auto;">
	<h1 style="text-align:center;">{$title}</h1>
    <div id="Article">

    <div class="big-pic" style="height:650px;">
		<div id="big-pic">
		</div>
		<!-- 
		<div class="photo_prev"><a id="photoPrev" title="&lt;上一页" class="btn_pphoto" target="_self" hidefocus="true" href="javascript:;" onclick="showpic('pre');"></a></div>
        <div class="photo_next"><a id="photoNext" title="下一页&gt;"class="btn_nphoto" target="_self" hidefocus="true" href="javascript:;" onclick="showpic('next')"></a></div>
        <a href="javascript:;" class="max" onclick="showpic('big');">查看原图</a>
         -->
        
        <div id="endSelect" style="display: none;">
			<div id="endSelClose" onclick="$('#endSelect').hide();"></div>
			<div class="bg"></div>
			<div class="E_Cont">
				<p>您已经浏览完所有图片</p>
				<p><a id="rePlayBut" href="javascript:void(0)" onclick="showpic('next', 1);"></a><a id="nextPicsBut" href="{$next_page[url]}"></a></p>	
			</div>
		</div>
        
    </div>

    <div class="list-pic">
        <div class="pre picbig">
        	<div class="img-wrap"><a href="{$previous_page[url]}"><img src="{thumb($previous_page[thumb], 100, 137, 0)}" title="{$previous_page[title]}"></a></div><a href="{$previous_page[url]}">&lt;上一组</a>
        </div>
        
        <a href="javascript:;" onclick="showpic('pre')" class="pre-bnt"><span></span></a>
		<div class="cont" style="position:relative">
			<ul class="cont picbig" id="pictureurls"  style="position:absolute">
			{loop $pictureurls $pic_k $r}
			 <li><div class="img-wrap"><a href="javascript:;" hidefocus="true"><img src="{thumb($r[url], 100, 137, 0)}" alt="{$r[alt]}" rel="{$r[url]}"/></a></div></li>
			{/loop}
			</ul>
		</div>
        <a href="javascript:;" onclick="showpic('next')" class="next-bnt"><span></span></a>
        
        <div class="next picbig">
        	<div class="img-wrap"><a href="{$next_page[url]}" title="{$next_page[title]}"><img src="{thumb($next_page[thumb], 100, 137, 0)}"></a></div><a href="{$next_page[url]}">下一组&gt;</a>
        </div>
    </div>
            <div class="text" id="picinfo"></div>
	<div class="content">
		{$content}
	</div>
  </div>
  <div class="bk10"></div>
	<div class="relevance">
	<h5>相关图集</h5>
		{pc:content action="relation" relation="$relation" id="$id" catid="$catid" num="6" keywords="$rs[keywords]"}
			<ul class="photo-list">
				{loop $data $r}
				<li><div class="img-wrap"><a href="{$r[url]}"><img src="{thumb($r[thumb])}" width="100" height="86"/></a></div><a href="{$r[url]}">{$r[title]}</a></li>
				{/loop}
			</ul>
		{/pc}
	</div>
  <div class="bk10"></div>
  {if $allow_comment && module_exists('comment')}
  <iframe src="{APP_PATH}index.php?m=comment&c=index&a=init&commentid={id_encode("content_$catid",$id,$siteid)}&iframe=1" width="100%" height="100%" id="comment_iframe" frameborder="0" scrolling="no"></iframe>
  {/if}
</div>
<div id="load_pic" style="display:none;" rel="{IMG_PATH}msg_img/loading_d.gif">
</div>
<script type="text/javascript" src="{JS_PATH}show_picture.js"></script>
<script type="text/javascript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$("#big-pic img").blowup({
			background : "#fafcfe"
		});
	})
</script>
{template "content","footer"}